main/library/Templates/template_info.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- definition of data types         -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- This type defines a string value in the ISO 8601 date format. -->
<!-- The regular expression is a condensed form of the expression found in -->
<!-- harmoni/core/Primitives/Chronology/StringParsers/ISO8601StringParser.class.php -->
<xs:simpleType name="iso8601">
	<xs:restriction base="xs:string">
		<xs:pattern value="(([0-9]{4})[\-/:](((0[1-9])|(1[0-2]))[\-/:]?(((0[1-9])|((1|2)[0-9])|(3[0-1]))[\sT]?((([0-1][0-9])|(2[0-4]))(:?([0-5][0-9])?(:?([0-5][0-9](\.[0-9]+)?)?(Z|(([+\-])(([0-1][0-9])|(2[0-4])):?([0-5][0-9])?))?)?)?)?)?)?)?"/>
	</xs:restriction>
</xs:simpleType>

<!-- This type defines a string value in the ISO 639 language code plus a country code -->
<xs:simpleType name="iso639">
	<xs:restriction base="xs:string">
		<xs:pattern value="([a-z]{2,3})_([A-Z]{2})"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name='non_empty_content'>
	<xs:restriction base="xs:string">
		<xs:minLength value="1"/>
	</xs:restriction>
</xs:simpleType>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- definition of attributes         -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<xs:attribute name="date" type="iso8601"/>

<xs:attribute name="lang" type="iso639"/>


<xs:attribute name="id">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:attribute>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Complex Elements                 -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<xs:element name="TemplateInfo">
	<xs:complexType>
		<xs:sequence>
			<xs:group ref="lang_group" maxOccurs="unbounded"/>
			<xs:element ref="Authorized" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:group name="lang_group">
	<xs:sequence>
		<xs:element ref="DisplayName" />
		<xs:element ref="Description"/>
	</xs:sequence>
</xs:group>

<xs:element name="Authorized">
	<xs:complexType>
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="Agent"/>
			<xs:element ref="Group"/>
		</xs:choice>
	</xs:complexType>
</xs:element>

<xs:element name="DisplayName">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="non_empty_content">
				<xs:attribute ref="lang" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:element>

<xs:element name="Description">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="lang" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:element>

<xs:element name="Agent">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="id" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:element>

<xs:element name="Group">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="id" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:element>

</xs:schema>